"""
test generated on {{ run.now }} by {{ run.login }}
"""


def test_module_can_be_imported():
    """ it is always a good idea to test if every module can be tested """
    import {{ data.source_file.identifier }} as module
    assert module is not None
